<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuário</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="container">
    <div class="card">
        <form class="form" action="/register" method="POST">
            <p class="title">Registre-se</p>
            <p class="message">Registre-se agora e acesse nosso aplicativo</p>

            <div class="flex">
                <label>
                    <input class="input" type="text" name="firstname" placeholder=" " required>
                    <span>Firstname</span>
                </label>
                <label>
                    <input class="input" type="text" name="lastname" placeholder=" " required>
                    <span>Lastname</span>
                </label>
            </div>

            <label>
                <input class="input" type="email" name="email" placeholder=" " required>
                <span>Email</span>
            </label>

            <label>
                <input class="input" type="password" name="password" placeholder=" " required>
                <span>Senha</span>
            </label>

            <button class="submit" type="submit">Enviar</button>
        </form>
    </div>
</div>
</body>
</html>
