<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Widget</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="card">
    <div class="container">
      <div class="cloud front">
        <span class="left-front"></span>
        <span class="right-front"></span>
      </div>
      <span class="sun sunshine"></span>
      <span class="sun"></span>
      <div class="cloud back">
        <span class="left-back"></span>
        <span class="right-back"></span>
      </div>
    </div>

    <div class="card-header">
      <span>{{.City}}</span> <!-- Exibe a cidade dinamicamente -->
      <span>{{.Temperature}}°C</span> <!-- Exibe a temperatura dinamicamente -->
    </div>

    <span class="temp">{{.Temperature}}°</span>

    <div class="temp-scale">
      <span>Celsius</span>
    </div>
  </div>
</body>
</html>
